@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul{
    display: flex;
    margin-right: 100px;
}

#navbar img{
    width: 80px;
    height: 60px;
    margin-left: 100px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.primary-text{
    color: orange;
}

header{
    height: 100vh;
    background: url('./bg.jpg') center center/cover no-repeat;
    position: relative;
}

#navbar ul li a{
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
}

#navbar ul li a:hover{
    border-bottom: 2px solid;
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1 {
    font-size: 40px;

}

header .content p {
    font-size: 40px;
    
}